@model CleanerMVC.Models.Category

@{
    ViewBag.Title = "SİL";
}

<h2>@ViewBag.Title</h2>

<h3>SİLMEK İSTEDİĞİNİZDEN EMİN MİSİNİZ?</h3>
<div>
    <h4>KATEGORİ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kategori Adı:
        </dt>

        <dd>
            @Model.CategoryName
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
